<include file="Public/header" title="{$title} - 达晓医护"/>
<link rel="stylesheet" href="__PUBLIC__/admin/datetimepicker/css/bootstrap-datetimepicker.css" />
</head>
<body>
<include file="Public/top"/>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>
        <include file="Public/left"/>
        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                </script>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                        <a href="{:U('Index/index')}">首页</a>
                    </li>

                    <li>
                        <a href="{:U('Activity/index')}">活动中心</a>
                    </li>
                    <li>
                        <a href="{:U('Activity/index')}">活动管理</a>
                    </li>
                    <li class="active">{$title}</li>
                </ul>
            </div>

            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS 网页内容开始 -->
                        <form class="form-horizontal" id="form-submit" role="form" style="padding-top: 10rem;" action="{$Url}">
                            <input type="hidden" name="id" value="{$rows.id}">
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 活动类别 <i style="color: red;">*</i></label>
                                <div class="col-sm-9">
                                    <select class="col-sm-5" name="activityType">
                                        <option value="">请选择类别</option>
                                        <volist name="activityType" id="vo">
                                            <option value="{$vo.id}" {$rows.activity_type_id|Judgement=###,$vo['id'],"selected"}>{$vo.type_name}</option>
                                        </volist>
                                    </select>
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 活动名称 <i style="color: red;">*</i></label>
                                <div class="col-sm-9">
                                    <input type="text" id="form-field-2" class="col-xs-10 col-sm-5" name="activityName" value="{$rows.activity_name}" />
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 活动图片 <i style="color: red;">*</i></label>
                                <div class="col-sm-9">
                                    <input type="file" id="fileupload" name="activityCover" onchange="showPreview(this)" style="display: none;" />
                                    <div class="showImage" style="width: 170px;height: 200px;">
                                        <img src="{$rows.activity_cover}" style="width: 170px;height: 200px;background-color: darkgrey;" />
                                        <p style="position: absolute;top: 84px;left: 33px;font-size: initial;font-family: cursive;color: aliceblue;">点击此处上传图片<br>&nbsp;&nbsp;尺寸:&nbsp;4:3</p>
                                    </div>
                                    <br>
                                    <button type="button" class="unImage" onclick="unsetImage()" style="display: none;">清除上传图片</button>
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 活动开始时间 <i style="color: red;">*</i></label>
                                <div class="col-sm-9">
                                    <div class="input-append date form_datetime" data-date="2013-02-21T15:25:00Z" style="border: 1px solid #d5d5d5;width: 520px;padding-left: 5px;">
                                        <span class="add-on"><i class="icon-calendar"></i></span>
                                        <input size="68" type="text" name="activityStartTime" value="{$rows.activity_start_time|dateTime=###,6}" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 活动结束时间 <i style="color: red;">*</i></label>
                                <div class="col-sm-9">
                                    <div class="input-append date form_datetime" data-date="2013-02-21T15:25:00Z" style="border: 1px solid #d5d5d5;width: 520px;padding-left: 5px;">
                                        <span class="add-on"><i class="icon-calendar"></i></span>
                                        <input size="68" type="text" name="activityEndTime" value="{$rows.activity_end_time|dateTime=###,6}" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 报名开始时间 <i style="color: red;">*</i></label>
                                <div class="col-sm-9">
                                    <div class="input-append date form_datetime" data-date="2013-02-21T15:25:00Z" style="border: 1px solid #d5d5d5;width: 520px;padding-left: 5px;">
                                        <span class="add-on"><i class="icon-calendar"></i></span>
                                        <input size="68" type="text" name="enrollStartTime" value="{$rows.enroll_start_time|dateTime=###,6}" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 报名结束时间 <i style="color: red;">*</i></label>
                                <div class="col-sm-9">
                                    <div class="input-append date form_datetime" data-date="2013-02-21T15:25:00Z" style="border: 1px solid #d5d5d5;width: 520px;padding-left: 5px;">
                                        <span class="add-on"><i class="icon-calendar"></i></span>
                                        <input size="68" type="text" name="enrollEndTime" value="{$rows.enroll_end_time|dateTime=###,6}" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 活动人数 </label>
                                <div class="col-sm-9">
                                    <input type="text" class="col-xs-10 col-sm-5" name="activityNumber" value="{$rows.activity_number}" />
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 活动积分 </label>
                                <div class="col-sm-9">
                                    <input type="text" class="col-xs-10 col-sm-5" name="activityIntegral" value="{$rows.activity_integral}" />
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 活动地点 <i style="color: red;">*</i></label>
                                <div class="col-sm-9">
                                    <input type="text" class="col-xs-10 col-sm-5" name="address" value="{$rows.address}" />
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 活动内容 <i style="color: red;">*</i></label>
                                <div class="col-sm-9">
                                    <script id="editor" name="content" type="text/plain" style="width:550px;height:400px;">{$rows.content|htmlspecialchars_decode=###}</script>
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 是否推荐 </label>
                                <div class="col-sm-9">
                                    <input type="radio" name="referral" value="2" {$rows.referral|Judgement=###,2,"checked"} {$title|Judgement=###,"新增活动","checked"} />否
                                    <input type="radio" name="referral" value="1" {$rows.referral|Judgement=###,1,"checked"}/>是
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 是否需要审核报名人员 </label>
                                <div class="col-sm-9">
                                    <input type="radio" name="whetherAudit" value="2" {$rows.whether_audit|Judgement=###,2,"checked"} {$title|Judgement=###,"新增活动","checked"} />否
                                    <input type="radio" name="whetherAudit" value="1" {$rows.whether_audit|Judgement=###,1,"checked"} />是
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="clearfix form-actions" style="background-color: inherit;border: inherit;">
                                <div class="col-md-offset-3 col-md-9">
                                    <button class="btn btn-info ajax-post" type="button" target-form="form-submit">
                                        <i class="icon-ok bigger-110"></i>
                                        提交
                                    </button>

                                    &nbsp; &nbsp; &nbsp;
                                    <button class="btn" type="reset">
                                        <i class="icon-undo bigger-110"></i>
                                        重置
                                    </button>
                                </div>
                            </div>
                        </form>
                        <!-- PAGE CONTENT ENDS 网页内容结束 -->
                    </div>
                </div>
            </div>
        </div>
        <include file="Public/bottom"/>
    </div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div>
<include file="Public/footer"/>
<script type="text/javascript" charset="utf-8" src="__ROOT__/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__ROOT__/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="__ROOT__/ueditor/lang/zh-cn/zh-cn.js"></script>
<script src="__PUBLIC__/admin/datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script src="__PUBLIC__/admin/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<!-- inline scripts related to this page -->
<script type="text/javascript">
    var ue = UE.getEditor('editor',{autoFloatEnabled:false});

    $(function () {
        var title = "{$title}";
        if (title == "编辑活动"){
            $("p").css('display','none');
        }
    });
    $(".showImage").click(function () {
        $("#fileupload").click();
    });
    function showPreview(source) {
        var file = source.files[0];
        if(window.FileReader) {
            var fr = new FileReader();
            fr.onloadend = function(e) {
                //document.getElementById("portrait").src = e.target.result;
                $(".showImage img").attr("src",e.target.result);
            };
            fr.readAsDataURL(file);
        }
        $("p").css('display','none');
        $(".unImage").css('display','block');
    };

    function unsetImage() {
        $(".showImage img").attr("src", "");
        $("p").css('display','block');
        var obj = document.getElementById('fileupload') ;
        obj.outerHTML = obj.outerHTML;
        $(".unImage").css('display','none');
    }


    /*$('.date-picker').datepicker({autoclose:true}).next().on(ace.click_event, function(){
        $(this).prev().focus();
    });*/
    $(".form_datetime").datetimepicker({
        format: 'yyyy-mm-dd hh:ii',
        autoclose:true,
        startDate: new Date(),
        language: "zh-CN",
    });
</script>
</body>
</html>
