<include file="Public/header" title="{$title} - 达晓医护"/>
<style type="text/css">
    #editor {
        width:1024px;
        min-height:500px;
    }
</style>
</head>
<body>
<include file="Public/top"/>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>
        <include file="Public/left"/>
        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                </script>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                        <a href="{:U('Index/index')}">首页</a>
                    </li>

                    <li>
                        <a href="{:U('Coptic/index')}">科普中心</a>
                    </li>
                    <li>
                        <a href="{:U('Coptic/index')}">科普文章</a>
                    </li>
                    <li class="active">{$title}</li>
                </ul>
            </div>

            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS 网页内容开始 -->
                        <form class="form-horizontal" id="form-submit" role="form" style="padding-top: 10rem;" action="{$Url}">
                            <input type="hidden" name="id" value="{$rows.id}">
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 类别 <i style="color: red;">*</i></label>
                                <div class="col-sm-9">
                                    <select class="col-sm-5" name="copticType">
                                        <option value="">请选择类别</option>
                                        <volist name="copticType" id="vo">
                                            <option value="{$vo.id}" {$rows.coptic_type_id|Judgement=###,$vo['id'],"selected"}>{$vo.category_name}</option>
                                        </volist>
                                    </select>
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 标题 <i style="color: red;">*</i></label>
                                <div class="col-sm-9">
                                    <input type="text" id="form-field-2" class="col-xs-10 col-sm-5" name="copticTitle" value="{$rows.coptic_title}" />
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 封面图片 <i style="color: red;">*</i></label>
                                <div class="col-sm-9">
                                    <input type="file" id="fileupload" name="copticCover" onchange="showPreview(this)" style="display: none;" />
                                    <div class="showImage" style="width: 380px;height: 250px;">
                                        <img src="{$rows.coptic_cover}" style="width: 380px;height: 250px;background-color: darkgrey;" />
                                        <p style="position: absolute;top: 84px;left: 90px;font-size: x-large;font-family: cursive;color: aliceblue;">点击此处上传图片<br>&nbsp;&nbsp;尺寸:380x250</p>
                                    </div>
                                    <br>
                                    <button type="button" class="unImage" onclick="unsetImage()" style="display: none;">清除上传图片</button>
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 摘要 </label>
                                <div class="col-sm-9">
                                    <textarea id="form-field-11" class="autosize-transition form-control" name="abstract" style="width: 41.6666%">{$rows.abstract}</textarea>
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 正文 <i style="color: red;">*</i></label>
                                <div class="col-sm-9" >
                                    <script id="editor" name="content" type="text/plain" >{$rows.content|htmlspecialchars_decode=###}</script>
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 作者 <i style="color: red;">*</i></label>
                                <div class="col-sm-9">
                                    <input type="text" class="col-xs-10 col-sm-5" name="author" value="{$rows.author}" />
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 来源 </label>
                                <div class="col-sm-9">
                                    <input type="text" class="col-xs-10 col-sm-5" name="source" value="{$rows.source}" />
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 关键词 </label>
                                <div class="col-sm-9">
                                    <input type="text" class="col-xs-10 col-sm-5" name="keyword" value="{$rows.keyword}" />
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 原文链接 </label>
                                <div class="col-sm-9">
                                    <input type="text" class="col-xs-10 col-sm-5" name="original_link" value="{$rows.original_link|urldecode=###}" />
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 是否推荐 </label>
                                <div class="col-sm-9">
                                    <input type="radio" name="referral" value="2" {$rows.referral|Judgement=###,2,"checked"} {$title|Judgement=###,"新增科普文章","checked"} />否
                                    <input type="radio" name="referral" value="1" {$rows.referral|Judgement=###,1,"checked"}/>是
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 排序 </label>
                                <div class="col-sm-9">
                                <input type="text" class="col-xs-10 col-sm-5" name="sort" value="{$rows.sort}" />
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 原创 </label>
                                <div class="col-sm-9">
                                    <input type="radio" name="original" value="0" {$rows.original|Judgement=###,0,"checked"} {$title|Judgement=###,"新增科普文章","checked"} />否
                                    <input type="radio" name="original" value="1" {$rows.original|Judgement=###,1,"checked"}/>是
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="clearfix form-actions" style="background-color: inherit;border: inherit;">
                                <div class="col-md-offset-3 col-md-9">
                                    <button class="btn btn-info ajax-post" type="button" target-form="form-submit">
                                        <i class="icon-ok bigger-110"></i>
                                        提交
                                    </button>

                                    &nbsp; &nbsp; &nbsp;
                                    <button class="btn" type="reset">
                                        <i class="icon-undo bigger-110"></i>
                                        重置
                                    </button>
                                </div>
                            </div>
                        </form>
                        <!-- PAGE CONTENT ENDS 网页内容结束 -->
                    </div>
                </div>
            </div>
        </div>
        <include file="Public/bottom"/>
    </div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div>
<include file="Public/footer"/>
<script type="text/javascript" charset="utf-8" src="__ROOT__/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__ROOT__/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="__ROOT__/ueditor/lang/zh-cn/zh-cn.js"></script>
<!-- inline scripts related to this page -->
<script type="text/javascript">
    var ue = UE.getEditor('editor',{autoFloatEnabled:false});

    $(function () {
        var title = "{$title}";
        if (title == "编辑科普文章"){
            $("p").css('display','none');
        }
    });
    $(".showImage").click(function () {
        $("#fileupload").click();
    });
    function showPreview(source) {
        var file = source.files[0];
        if(window.FileReader) {
            var fr = new FileReader();
            fr.onloadend = function(e) {
                //document.getElementById("portrait").src = e.target.result;
                $(".showImage img").attr("src",e.target.result);
            };
            fr.readAsDataURL(file);
        }
        $("p").css('display','none');
        $(".unImage").css('display','block');
    };

    function unsetImage() {
        $(".showImage img").attr("src", "");
        $("p").css('display','block');
        var obj = document.getElementById('fileupload') ;
        obj.outerHTML = obj.outerHTML;
        $(".unImage").css('display','none');
    }

</script>
</body>
</html>
