<include file="Public/header" title="后台首页 - 达晓医护"/>
</head>
<body>
<include file="Public/top"/>
<div class="main-container" id="main-container">
	<script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
	</script>

	<div class="main-container-inner">
		<a class="menu-toggler" id="menu-toggler" href="#">
			<span class="menu-text"></span>
		</a>
		<include file="Public/left"/>
		<div class="main-content">
			<div class="breadcrumbs" id="breadcrumbs">
				<script type="text/javascript">
                    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
				</script>
				<ul class="breadcrumb">
					<li>
						<i class="icon-home home-icon"></i>
						<a href="{:U('Index/index')}">首页</a>
					</li>

					<li class="active">仪表盘</li>
				</ul>
			</div>

			<div class="page-content">
				<div class="row">
					<div class="col-xs-12">
						<!-- PAGE CONTENT BEGINS 网页内容开始 -->
						<div class="col-sm-7 infobox-container" style="margin-top: 140px;">
							<div class="infobox infobox-green  ">
								<div class="infobox-icon">
									<i class="icon-comments"></i>
								</div>

								<div class="infobox-data">
									<span class="infobox-data-number">{$commentToday}</span>
									<div class="infobox-content">新增评论</div>
								</div>
							</div>

							<div class="infobox infobox-blue  ">
								<div class="infobox-icon">
									<i class="icon-user"></i>
								</div>

								<div class="infobox-data">
									<span class="infobox-data-number">{$addUserToday}</span>
									<div class="infobox-content">新注册用户</div>
								</div>
							</div>

							<div class="infobox infobox-pink  ">
								<div class="infobox-icon">
									<i class="icon-eye-open"></i>
								</div>

								<div class="infobox-data">
									<span class="infobox-data-number">{$visitToday}</span>
									<div class="infobox-content">访问记录</div>
								</div>
							</div>

							<div class="vspace-sm"></div>

							<div class="col-sm-5" style="margin-top: 50px;">
								<div id="main" style="width: 80rem;height:400px;">

								</div>
							</div>
						</div>
						<!-- PAGE CONTENT ENDS 网页内容结束 -->
					</div>
				</div>
			</div>
		</div>
		<include file="Public/bottom"/>
	</div>

	<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
		<i class="icon-double-angle-up icon-only bigger-110"></i>
	</a>
</div>
<include file="Public/footer"/>
<!-- inline scripts related to this page -->
<script type="text/javascript" src="__PUBLIC__/admin/js/echarts.js"></script>
<script type="text/javascript">
	var sevenDay = '{$sevenDay}';
    if(sevenDay.substring(0)=="\'")
    {
        sevenDay=cstring.substr(1,sevenDay.length-1)
    }
    if(sevenDay.substring(sevenDay.length-1)=="\'")
    {
        sevenDay=cstring.substr(0,sevenDay.length-2)
    }
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    // 指定图表的配置项和数据
    option = {
        title: {
            text: '网站运行数据'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data:['用户评论','新用户','浏览量']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: sevenDay
        },
        yAxis: {
            type: 'value',
            min: 0,
			max: 1000
        },
        series: [
            {
                name:'用户评论',
                type:'line',
                data:[0, 132, 101, 134, 90, 230, 210]
            },
            {
                name:'新用户',
                type:'line',
                data:[220, 182, 191, 234, 290, 330, 310]
            },
            {
                name:'浏览量',
                type:'line',
                data:[0, 232, 201, 154, 190, 330, 410]
            },
        ]
    };


    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
</body>
</html>
