<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>[title]</title>

    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- basic styles -->

    <link href="__PUBLIC__/admin/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="__PUBLIC__/admin/css/font-awesome.min.css" />

    <!--[if IE 7]>
    <link rel="stylesheet" href="__PUBLIC__/admin/css/font-awesome-ie7.min.css" />
    <![endif]-->

    <!-- page specific plugin styles -->

    <!-- fonts -->

    <link rel="stylesheet" href="__PUBLIC__/admin/css/ace-fonts.css" />

    <!-- ace styles -->

    <link rel="stylesheet" href="__PUBLIC__/admin/css/ace.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/admin/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/admin/css/ace-skins.min.css" />

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="__PUBLIC__/admin/css/ace-ie.min.css" />
    <![endif]-->
    <!--Thinkphp框架error/success函数返回界面弹出框提示-->
    <link href="__PUBLIC__/admin/think/think.css" rel="stylesheet" />
    <!-- inline styles related to this page -->

    <!-- ace settings handler -->

    <script src="__PUBLIC__/admin/js/ace-extra.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
    <script src="__PUBLIC__/admin/js/html5shiv.js"></script>
    <script src="__PUBLIC__/admin/js/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
        #sample-table-1 tr td {
            vertical-align: middle;
        }
    </style>