<div class="commonTop">
    <div class="wrap">
        <!-- logo -->
        <a href="#" class="logoImg">
            <img src="__PUBLIC__/home/img/logo.png" alt="">
             <span class="c_h1">通达医学常识，知晓家庭护理</span>
            <img style="height: 18px;width: auto;" class="hidden-lg" src="__PUBLIC__/home/img/cmt2.png" alt="">
            <!-- 小屏幕下个人导航图标开始 -->
            <img  class="hidden-lg cmtMenuLogo" src="__PUBLIC__/home/img/cmt1.png" alt="">
            <!-- 小屏幕下个人导航图标结束 -->
            <!-- 小屏幕下个人导航图标结束 -->
                    <img src="__PUBLIC__/home/img/c6.png" class="cmtUser hidden-lg" alt="">
        </a>
        <!-- logo -->
        <!-- 导航开始 -->
        <nav id="sidebar-menu">
            <a href="{:U('Index/index')}">首页</a>
            <a href="{:U('Coptic/index')}">科普中心</a>
            <a href="{:U('Activity/index')}">活动中心</a>
            <a href="{:U('HomeCare/index')}">家庭护理</a>
            <a href="{:U('Aboutus/index')}">关于我们</a>
            <notempty name="Think.session.uid">
                <a href="{:U('User/index')}">个人中心</a>
            </notempty>
        </nav>
        <!-- 导航结束 -->
        <!-- 登陆注册开始 -->
        <div class="loginBox">
            <empty name="Think.session.uid">
                <a href="{:U('Public/login')}">登录</a><span>|</span><a href="{:U('Public/regist')}">注册</a>
                <else/>
                <span>{$Think.session.nickname}</span>&nbsp;&nbsp;&nbsp;<span>|</span><a href="{:U('Public/signOut')}">退出</a>
            </empty>
        </div>
        <!-- 登陆注册结束 -->

    </div>
</div>