<div class="col-lg-2 left">
    <p class="leftTitle visible-lg">会员中心</p>
    <a href="{:U('User/index')}"><img src="__PUBLIC__/home/img/c2.png" alt="">个人信息</a>
    <a href="{:U('User/myKeep')}"  class="leftActive"><img src="__PUBLIC__/home/img/c3.png" alt="">我的收藏</a>
    <a href="{:U('User/myActivity')}"><img src="__PUBLIC__/home/img/c4.png" alt="">我的活动</a>
    <a href="{:U('User/myIntegral')}"><img src="__PUBLIC__/home/img/c9.png" alt="">我的积分</a>
    <a href="{:U('User/modifyPasswd')}"><img src="__PUBLIC__/home/img/c5.png" alt="">修改密码</a>
</div>