<include file="Public/header" title="新增角色 - 达晓医护"/>
<style type="text/css">
    ul dl {
        margin: 0;
    }
    ul li {
        list-style-type:none;
        margin-left: 14px;
    }
    ul li input[type="checkbox"] {
        margin-left: 20px;
    }
</style>
</head>
<body>
<include file="Public/top"/>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>
        <include file="Public/left"/>
        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                </script>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                        <a href="{:U('Index/index')}">首页</a>
                    </li>

                    <li>
                        <a href="{:U('System/role_manage')}">系统设置</a>
                    </li>
                    <li>
                        <a href="{:U('System/role_manage')}">角色管理</a>
                    </li>
                    <li class="active">添加角色</li>
                </ul>
            </div>

            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS 网页内容开始 -->
                        <form class="form-horizontal" role="form" style="padding-top: 10rem;" action="{:U('System/role_add')}" method="post">
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 角色名称 </label>
                                <div class="col-sm-9">
                                    <input type="text" id="form-field-1" class="col-xs-10 col-sm-5" name="authName" />
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 角色描述 </label>
                                <div class="col-sm-9">
                                   <textarea id="form-field-2" class="col-xs-10 col-sm-5" style="height: 100px;" name="content"></textarea>
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" > 角色权限 </label>
                                <div class="col-sm-9" style="margin-top: 20px;">
                                    <volist name="auths" id="vo">
                                        <ul>
                                            <dl><input type="checkbox" class="auth"/>{$vo.app_name}</dl>
                                            <volist name="vo.sub_app" id="sub_app">
                                                <li>
                                                    {$sub_app.app_name}
                                                    <volist name="sub_app.auth" id="role">
                                                        <input type="checkbox" name="rules_id[]" class="sub_auth" value="{$role.id}"  />{$role.title}
                                                    </volist>
                                                </li>
                                            </volist>
                                        </ul>
                                    </volist>

                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="clearfix form-actions" style="background-color: inherit;border: inherit;">
                                <div class="col-md-offset-3 col-md-9">
                                    <button class="btn btn-info" type="submit">
                                        <i class="icon-ok bigger-110"></i>
                                        提交
                                    </button>

                                    &nbsp; &nbsp; &nbsp;
                                    <button class="btn" type="reset">
                                        <i class="icon-undo bigger-110"></i>
                                        重置
                                    </button>
                                </div>
                            </div>
                        </form>
                        <!-- PAGE CONTENT ENDS 网页内容结束 -->
                    </div>
                </div>
            </div>
        </div>
        <include file="Public/bottom"/>
    </div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div>
<include file="Public/footer"/>

<!-- inline scripts related to this page -->
<script type="text/javascript">
    //主分支全选与反全选
    $(".auth").click(function () {
        if ($(this).prop('checked') == true){
            //alert($(this).parent().parent().find('li input:checkbox').length)
            $(this).parent().parent().find('li input:checkbox').prop('checked', true);
        }else{
            $(this).parent().parent().find('li input:checkbox').prop('checked', false);
        }
    });

    //子分支选中主分支同时选中，子分支取消选中时判断是否还有其余子分支选中，没有时取消选中的主分支
    $(".sub_auth").click(function () {
        if ($(this).prop('checked') == true){
            $(this).parent().parent().find('dl input:checkbox').prop('checked', true);
        }else{
            if ($(this).parent().parent().find('li input:checkbox:checked').length == 0){
                $(this).parent().parent().find('dl input:checkbox').prop('checked', false);
            }
        }
    });
</script>
</body>
</html>
