<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>科普详情</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/home/css/base.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/activeDetail.css">
    <link rel="Shortcut Icon" href="__PUBLIC__/home/img/dyxh.ico">
    <link rel="stylesheet" href="__PUBLIC__/artDialog/css/dialog.css">
</head>
<body>
<!-- 公共头部开始 -->
<include file="Public/header"/>
<!-- 公共头部结束 -->
<div class="container wrap activeDetail">
    <!-- 左边详情开始 -->
    <div class="col-lg-9 activeDetailL">
        <!-- 标题开始 -->
        <h1 class="activeTitle">{$rows.coptic_title}</h1>
        <!-- 标题结束 -->
        <p class="author">作者：{$rows.author}&nbsp;&nbsp;&nbsp;&nbsp;{$rows.create_time}<img style="margin-left: 30px;" src="__PUBLIC__/home/img/yuanchuang.png" alt="原创标识"></p>
        <div class="container">
            <div class="col-lg-8 keyWord"><notempty name="rows.keyword">关键词：<span>{$rows.keyword}</span></notempty></div>
            <div class="col-lg-4 keyWord">
                <strong id="keep">
                    <img src="__PUBLIC__/home/img/ss0.png" alt="" data-value="0" data-field-name="keep"><img style="display: none;" src="__PUBLIC__/home/img/ss1.png" alt="" data-value="1" data-field-name="keep">收藏
                </strong>
                <strong id="likes">
                    <img src="__PUBLIC__/home/img/zz0.png" alt="" data-value="0" data-field-name="likes"><img style="display: none;" src="__PUBLIC__/home/img/zz1.png" alt="" data-value="1" data-field-name="likes">赞
                </strong>
            </div>
        </div>

        <!-- 活动内容开始 -->
        <div class="content">
            {$rows.content}
            <!-- 活动时间等信息开始 -->
            <notempty name="rows.source">
                <div class="from">来源：{$rows.source}</div>
            </notempty>
            <notempty name="rows.original_link">
                <div class="fromA">原文链接：<a href="{$rows.original_link}">{$rows.original_link}</a></div>
            </notempty>
            <!-- 发表评论开始 -->
            <a href="#publish" class="publishBtn">发表评论</a>
            <!-- 评论列表开始 -->
            <div class="discussBox">
                <div class="filter">
                    <!--<span class="filterActive" onclick="cutComment()">最热</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span onclick="cutComment()">最新</span>-->
                </div>
                <volist name="comment" id="vo">
                    <!-- 一个评论开始 -->
                    <div class="discussList">
                        <p class="user">
                            <img src="{$vo.avatar}" alt=""><!-- 头像 -->
                            <span>{$vo.nickname}</span><!-- 用户名 -->
                        </p>
                        <!-- 评论内容开始 -->
                        <p>{$vo.content}</p>
                        <!-- 评论内容结束 -->
                        <!-- 对评论的点评内容开始 -->
                        <notempty name="vo.subData">
                            <div class="reBox">
                                <img class="sanjiao"
                                     src="__PUBLIC__/home/img/sanjiao.png" alt=""><!-- 三角图标 -->
                                <p class="reTitle"><span>点评</span></p>
                                <volist name="vo.subData" id="item">
                                    <div class="container discussContent">
                                        <div class="col-lg-2 username">
                                            <img src="{$item.avatar}" alt="">
                                        </div>
                                        <!--<div class="col-lg-10 discussContentR">{$item.nickname} ：{$item.content}</div>-->
                                        <p class="r2">{$item.nickname}&nbsp;&nbsp;<span style="color:#000;">回复{$item.parent_name}</span>：{$item.content}</p>
                                    </div>
                                    <p class="r1">回复</p>
                                    <form action="" class="reForm">
                                        <textarea class="content1" placeholder="回复 {$item.nickname}：" data-id="{$item.id}" data-coptic-id="{$rows.id}"></textarea>
                                        <button class="reFormBtn submitCommon">发表</button>
                                    </form>
                                </volist>
                            </div>
                        </notempty>
                        <!-- 对评论的点评内容结束 -->
                        <!-- 评论时间开始 -->
                        <p class="discussTime">
                            <span class="discusstime">{$vo.create_time}</span>
                            <span class="dianPing">我要点评</span>
                            <strong>
                                <if condition="$vo.likes eq 1">
                                    <img src="__PUBLIC__/home/img/zz0.png" style="display: none;" alt="" data-value="0" data-id="{$vo.id}">
                                    <img src="__PUBLIC__/home/img/zz1.png" alt="" data-value="1" data-id="{$vo.id}">
                                <else/>
                                    <img src="__PUBLIC__/home/img/zz0.png" alt="" data-value="0" data-id="{$vo.id}">
                                    <img src="__PUBLIC__/home/img/zz1.png" style="display: none;" alt="" data-value="1" data-id="{$vo.id}">
                                </if>
                            </strong>
                            <span>{$vo.likesnum}</span>
                        </p>
                        <!-- 评论时间结束 -->
                        <!-- 发表点评表单开始 -->
                        <form action="" class="reForm2">
                            <textarea class="content1" data-id="{$vo.id}" data-coptic-id="{$rows.id}"></textarea>
                            <button class="reFormBtn submitCommon">发表</button>
                        </form>
                        <!-- 发表点评表单结束 -->
                    </div>
                    <!-- 一个评论结束 -->
                </volist>
            </div>
            <!-- 评论列表结束 -->
            <!-- 发表评论结束 -->
        </div>
        <!-- 发表评论开始 -->
        <form id="publish" action="" class="reForm2 reForm3">
            <p style="font-size: 18px;margin-bottom: 5px;">我要评论</p>
            <textarea class="content1"></textarea>
            <button class="reFormBtn mainComment">发表</button>
        </form>
        <!-- 发表评论结束 -->
        <!-- 活动内容结束 -->
    </div>
    <!-- 左边详情结束 -->
    <!-- 右边热门科普推荐开始 -->
    <div class="col-lg-3 history scienceHistory">
        <h2 class="visible-lg">热门科普推荐</h2>
        <ul class="historyList visible-lg">
            <!-- 一个热门科普推荐开始 -->
            <volist name="hotCoptic" id="vo">
                <li>
                    <a href="{:U('Coptic/details', array('id'=>$vo['id']))}">
                        <img src="{$vo.coptic_cover}" alt="">
                        <!-- 标题 -->
                        <div class="mengceng"></div><!-- 蒙层 -->
                        <p class="historyTitle">{$vo.coptic_title}</p>
                    </a>
                </li>
            </volist>
            <!-- 一个热门科普推荐结束 -->
        </ul>
    </div>
    <!-- 右边热门科普推荐结束 -->
</div>
<!-- 公共底部模块开始 -->
<include file="Public/footer"/>
<!-- 公共底部模块结束 -->
<script type="text/javascript" src="__PUBLIC__/home/js/jquery1.91.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/artDialog/dist/dialog.js"></script>
<script type="text/javascript">
    var callbackUrl = encodeURIComponent(window.location.href);
    $(function () {
        // 点击回复，展开回复框
        $(".r1").live('click', function () {
            $(this).next('.reForm').toggle();
        });
        // 点击我要点评，展开点评表单
        $(".dianPing").live('click', function () {
            $(this).parent().siblings('.reForm2').toggle();
        });
        // 点赞与收藏功能
        $(".keyWord img").click(function () {
            var type = $(this).attr('data-field-name');
            var item = $(this).attr('data-value');
            var id = '{$rows.id}';
            var coptic_type_id = '{$rows.coptic_type_id}';
            $.ajax({
                url: '{:U("Coptic/copticKeepLikes")}',
                data: {'type': type, 'item': item, 'id': id, 'coptic_type_id': coptic_type_id,'callbackUrl':callbackUrl},
                type: 'post',
                dataType: 'json',
                success: function (json) {
                    console.log(json);
                    var d = dialog({
                        content: json.info
                    });
                    d.show();
                    setTimeout(function () {
                        d.close().remove();
                        if (json.status == 2){
                            window.location.href = json.url;
                            return false;
                        }
                    }, 2000);
                }
            });
            $(this).toggle().siblings('img').toggle();
        });

        //点赞与收藏数据适配
        var checkLikes = "{$checkLikes}";
        var checkStoreUp = "{$checkStoreUp}";
        if (checkLikes > 0) {
            $("#likes img").toggle();
        }
        if (checkStoreUp > 0) {
            $("#keep img").toggle();
        }

        //评论点赞功能
        $(".discussTime strong img").live('click', function () {
            $(this).toggle().siblings('img').toggle();
        });

        //评论发表功能
        $(".submitCommon").live('click', function () {
            var content = $(this).prev().val();
            var parentId = $(this).prev().attr("data-id");
            var copticId = $(this).prev().attr("data-coptic-id");
            if (content == ''){
                var d = dialog({
                    content: '请输入评论内容'
                });
                d.show();
                setTimeout(function () {
                    d.close().remove();
                }, 2000);
                return false;
            }
            var result = '';
            $.ajax({
                url: '{:U("Coptic/copticComment")}',
                type: 'post',
                data: {'content':content,'parentId':parentId,'copticId':copticId,'callbackUrl':callbackUrl},
                dataType: 'json',
                async:false,
                success: function (json) {
                    console.log(json);
                    if (json.code == 0){
                        result += '<div class="container discussContent">';
                        result += '<div class="col-lg-2 username">';
                        result += '<img src="'+json.data.avatar+'" alt=""></div>';
                        result += '<p class="r2">'+json.data.nickname+'&nbsp;&nbsp;<span style="color:#000;">回复'+json.data.parent_name+'</span>：' + content + '</p>';
                        result += '</div>';
                        result += '<p class="r1">回复</p>';
                        result += '<form action="" class="reForm">';
                        result += '<textarea class="content1" placeholder="回复 '+json.data.nickname+'：" data-id="'+json.data.cid+'" data-coptic-id="{$rows.id}"></textarea>';
                        result += '<button class="reFormBtn submitCommon">发表</button>';
                        result += '</form>';
                    }else{
                        var d = dialog({
                            content: json.msg
                        });
                        d.show();
                        setTimeout(function () {
                            d.close().remove();
                            if (json.code == 2){
                                window.location.href = json.url
                            }
                        }, 2000);
                    }
                }
            });
            if ($(this).parent().parent().is(".reBox")){
                $(this).parent().parent(".reBox").append(result);
            }else{
                if ($(this).parent().siblings().is(".reBox")){
                    $(this).parent().parent().find(".reBox").append(result);
                }else{
                    var subCom = '<div class="reBox"><img class="sanjiao"src="__PUBLIC__/home/img/sanjiao.png" alt=""><p class="reTitle"><span>点评</span></p>'+ result + '</div>';
                    $(this).parent().prev().before(subCom);
                }
            }
            $(this).prev().val('');
            $(this).parent().toggle();
            return false;
        });

        //主评论
        $(".mainComment").click(function () {
            var copticId = "{$rows.id}";
            var content = $(this).prev().val();
            if (content == ''){
                var d = dialog({
                    content: '请输入评论内容'
                });
                d.show();
                setTimeout(function () {
                    d.close().remove();
                }, 2000);
                return false;
            }
            var result = '';
            $.ajax({
                url: '{:U("Coptic/copticComment")}',
                type: 'post',
                data: {'content':content,'copticId':copticId,'callbackUrl':callbackUrl},
                dataType: 'json',
                async:false,
                success: function (json) {
                    console.log(json);
                    if (json.code == 0){
                        result += '<div class="discussList">';
                        result += '<p class="user">';
                        result += '<img src="'+json.data.avatar+'" alt="">';
                        result += '<span>'+json.data.nickname+'</span></p>';
                        result += '<p>'+content+'</p>';
                        result += '<p class="discussTime">';
                        result += '<span class="discusstime">'+json.data.create_time+'</span>';
                        result += '<span class="dianPing">我要点评</span>';
                        result += '<strong>';
                        result += '<img src="__PUBLIC__/home/img/zz0.png" alt="" data-value="0" data-id="'+json.data.cid+'">';
                        result += '<img src="__PUBLIC__/home/img/zz1.png" alt="" style="display: none;" data-value="1" data-id="'+json.data.cid+'">';
                        result += '</strong>';
                        result += '<span>0</span> </p>';
                        result += '<form action="" class="reForm2">';
                        result += '<textarea class="content1" data-id="'+json.data.cid+'" data-coptic-id="{$rows.id}"></textarea>';
                        result += '<button class="reFormBtn submitCommon">发表</button></form></div>';
                    }else{
                        var d = dialog({
                            content: json.msg
                        });
                        d.show();
                        setTimeout(function () {
                            d.close().remove();
                            if (json.code == 2){
                                window.location.href = json.url
                            }
                        }, 2000);
                    }
                }
            });
            $(".discussBox").append(result);
            $(this).prev().val('');
            return false;
        });
    })

    //评论点赞功能
    $(".discussTime img").live('click', function () {
        var likes = $(this).attr('data-value');
        var cid = $(this).attr('data-id');
        var likesNum = '';
        $.ajax({
            url: '{:U("Coptic/commentLikes")}',
            data: {'likes':likes,'cid':cid,'callbackUrl':callbackUrl},
            type: 'post',
            dataType: 'json',
            async: false,
            success: function (json) {
                if (json.code == 2){
                    var d = dialog({
                        content: json.msg
                    });
                    d.show();
                    setTimeout(function () {
                        d.close().remove();
                        window.location.href = json.url
                    }, 2000);
                    return false;
                }
                likesNum = json.likesNum;
            }
        });
        $(this).parent().next("span").html(likesNum);
    })
</script>
<script type="text/javascript">
                                
            $(function() {
                // 小屏幕展开导航效果
                $(".cmtMenuLogo").click(function() {
                    $(".cmtUser").toggle();
                    $(".logoImg").toggleClass('commonPR');
                    $(".commonTop nav").toggle();
                    $(".commonTop").toggleClass('t6');
                }
                )
                // 小屏幕展开登录
                $(".cmtUser").click(function() {
                    $(".cmtMenuLogo").toggle();
                    $(".logoImg").toggleClass('commonPL');
                    $(".loginBox").toggle();
                    $(".commonTop").toggleClass('t6');
                }
                )
            }
            )
        </script>
<include file="Public/bottom"/>
</body>
</html>