<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>科普详情</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="__PUBLIC__/home/css/base.css">
		<link rel="stylesheet" href="__PUBLIC__/home/css/activeDetail.css">
		<link rel="Shortcut Icon" href="__PUBLIC__/home/img/dyxh.ico" >
	</head>
	<body>
		<!-- 公共头部开始 -->
		<include file="Public/header"/>
		<!-- 公共头部结束 -->
		<div class="container wrap activeDetail">
			<!-- 左边详情开始 -->
			<div class="col-lg-9 activeDetailL">
				<!-- 标题开始 -->
				<h1 class="activeTitle">科技部公布2016优秀科普作品名单</h1>
				<!-- 标题结束 -->
				<p class="author">作者：{$rows.author}&nbsp;&nbsp;&nbsp;&nbsp;{$rows.create_time}</p>
				<div class="container">
					<div class="col-lg-8 keyWord">关键词：<span>{$rows.keyword}</span></div>
					<div class="col-lg-4 keyWord">
						<strong id="keep"><img src="__PUBLIC__/home/img/ss0.png" alt="" data-value="0" data-field-name="keep"><img style="display: none;" src="__PUBLIC__/home/img/ss1.png" alt="" data-value="1" data-field-name="keep">收藏</strong>
						<strong id="likes"><img src="__PUBLIC__/home/img/zz0.png" alt="" data-value="0" data-field-name="likes"><img style="display: none;" src="__PUBLIC__/home/img/zz1.png" alt="" data-value="1" data-field-name="likes">赞</strong>
					</div>
				</div>
				
				<!-- 活动内容开始 -->
				<div class="content">
					{$rows.content}
					<!-- 活动时间等信息开始 -->
					<div class="from">来源：{$rows.source}</div>
					<div class="fromA">原文链接：<a href="{$rows.original_link}">{$rows.original_link}</a></div>
					<!-- 发表评论开始 -->
					<a href="#publish" class="publishBtn">发表评论</a>
					<!-- 评论列表开始 -->
					<div class="discussBox">
						<div class="filter">
							<span class="filterActive">最热</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span>最新</span>
						</div>
						<volist name="comment" id="vo">
							<!-- 一个评论开始 -->
							<div class="discussList">
								<p class="user">
									<img src="{$vo.avatar}"
										 alt=""><!-- 头像 -->
									<span>{$vo.nickname}
</span><!-- 用户名 -->
								</p>
								<!-- 评论内容开始 -->
								<p>{$vo.content}</p>
								<!-- 评论内容结束 -->
								<!-- 对评论的点评内容开始 -->
								<div class="reBox">
									<img class="sanjiao"
										 src="__PUBLIC__/home/img/sanjiao.png" alt=""><!-- 三角图标 -->
									<p class="reTitle"><span>点评
</span></p>
									<volist name="vo.subData"
											id="item">
										<div class="container
discussContent">
											<div
													class="col-lg-3 username">
												<img
														src="{$item.avatar}" alt="">

												{$item.nickname} ：
											</div>
											<div
													class="col-lg-9 discussContentR">{$item.content}</div>
										</div>
										<p class="r1">回复</p>
										<form action=""
											  class="reForm">
											<textarea
													class="content1" placeholder="回复 {$item.nickname}："></textarea>
											<button
													class="reFormBtn">发表</button>
										</form>
									</volist>
								</div>
								<!-- 对评论的点评内容结束 -->
								<!-- 评论时间开始 -->
								<p class="discussTime">
									<span class="discusstime">
{$vo.create_time}</span>
									<span class="dianPing">我要点评
</span>
									<img
											src="__PUBLIC__/home/img/zz0.png" alt="">
									<span>8</span>
								</p>
								<!-- 评论时间结束 -->
								<!-- 发表点评表单开始 -->
								<form action="" class="reForm2">
									<textarea
											class="content1"></textarea>
									<button class="reFormBtn">发表
									</button>
								</form>
								<!-- 发表点评表单结束 -->
							</div>
							<!-- 一个评论结束 -->
						</volist>
						<!-- 一个评论开始 -->
						<div class="discussList">
							<p class="user">
								<img src="__PUBLIC__/home/img/img1.png" alt=""><!-- 头像 -->
								<span>二十</span><!-- 用户名 -->
							</p>
							<!-- 评论内容开始 -->
							<p>要说套路，要说套路，要说套路，要说套路，要说套路要说套路，要说套路，要说套路，要说套路</p>
							<!-- 评论内容结束 -->
							<!-- 点评结束 -->
							<!-- 评论时间开始 -->
							<p class="discussTime">
								<span class="discusstime">2017-04-01 09:10</span>
								<span class="dianPing">我要点评</span>
								<img src="__PUBLIC__/home/img/zz1.png" alt="">
								<span>8</span>
							</p>
							<!-- 评论时间结束 -->
							<!-- 发表点评表单开始 -->
							<form action="" class="reForm2">
								<textarea class="content1"></textarea>
								<button class="reFormBtn">发表</button>
							</form>
							<!-- 发表点评表单结束 -->
						</div>
						<!-- 一个评论结束 -->
					</div>
					<!-- 评论列表结束 -->
					<!-- 发表评论结束 -->
				</div>
				<!-- 发表评论开始 -->
				<form id="publish" action="" class="reForm2 reForm3">
					<p style="font-size: 18px;margin-bottom: 5px;">我要评论</p>
					<textarea class="content1"></textarea>
					<button class="reFormBtn">发表</button>
				</form>
				<!-- 发表评论结束 -->
				<!-- 活动内容结束 -->
			</div>
			<!-- 左边详情结束 -->
			<!-- 右边热门科普推荐开始 -->
			<div class="col-lg-3 history scienceHistory">
				<h2 class="visible-lg">热门科普推荐</h2>
				<ul class="historyList visible-lg">
					<!-- 一个热门科普推荐开始 -->
					<volist name="hotCoptic" id="vo">
						<li>
							<a href="{:U('Coptic/details', array('id'=>$vo['id']))}">
								<img src="{$vo.coptic_cover}" alt="">
								<!-- 标题 -->
								<div class="mengceng"></div><!-- 蒙层 -->
								<p class="historyTitle">{$vo.coptic_title}</p>
							</a>
						</li>
					</volist>
					<!-- 一个热门科普推荐结束 -->
				</ul>
			</div>
			<!-- 右边热门科普推荐结束 -->
		</div>
		<!-- 公共底部模块开始 -->
		<include file="Public/footer"/>
		<!-- 公共底部模块结束 -->
		<script type="text/javascript" src="__PUBLIC__/home/js/jquery1.91.min.js"></script>
		<script type="text/javascript">
			$(function(){
				// 点击回复，展开回复框
				$(".r1").click(function(){
					$(this).next('.reForm').toggle();
				})
				// 点击我要点评，展开点评表单
				$(".dianPing").click(function(){
					$(this).parent().siblings('.reForm2').toggle();
				})
				// 点赞与收藏功能
				$(".keyWord img").click(function(){
					$(this).toggle().siblings('img').toggle();
					var type = $(this).attr('data-field-name');
					var item = $(this).attr('data-value');
					var id = '{$rows.id}';
					var coptic_type_id = '{$rows.coptic_type_id}';
					$.ajax({
						url: '{:U("Coptic/copticKeepLikes")}',
						data: {'type':type,'item':item,'id':id,'coptic_type_id':coptic_type_id},
						type: 'post',
						success: function () {}
					});
				})
                var checkLikes = "{$checkLikes}";
				var checkStoreUp = "{$checkStoreUp}";
				if (checkLikes > 0){
					$("#likes img").siblings('img').toggle();
				}
				if (checkStoreUp > 0){
                    $("#keep img").siblings('img').toggle();
				}
			})
		</script>
		<script type="text/javascript">
								// 小屏幕展开导航效果
			$(function() {
				$(".cmtMenuLogo").click(function() {
					$(".commonTop nav").toggle();
					$(".commonTop").toggleClass('t6');
				}
				)
			}
			)
		</script>
		<include file="Public/bottom"/>
	</body>
</html>