<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>个人中心-修改密码</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="__PUBLIC__/home/css/base.css">
		<link rel="stylesheet" href="__PUBLIC__/home/css/center.css">
		<link rel="Shortcut Icon" href="__PUBLIC__/home/img/dyxh.ico" >
	</head>
	<body>
		<!-- 公共头部开始 -->
		<include file="Public/header"/>
		<!-- 公共头部结束 -->
		<div class="container wrap box">
			<!-- 左边导航开始 -->
			<include file="Public/left"/>
			<!-- 左边导航结束 -->
			<!-- 右侧信息模块开始 -->
			<div class="col-lg-10">
				<div class="right cpright">
					<p class="rightTitle visible-lg">修改密码</p>
					<p class="cpTips">提示：使用大小写字母、数字与标点符号的组合，可以大幅提示账号安全!</p>
					<form action="">
						<table class="cpTable">
							<tr>
								<td>原密码</td>
								<td><input type="password" placeholder="请输入当前密码"></td>
							</tr>
							<tr>
								<td>新密码</td>
								<td><input type="password" placeholder="请输入当新密码"></td>
							</tr>
							<tr>
								<td>确认密码</td>
								<td><input type="password" placeholder="请输入当新密码"></td>
							</tr>
							<tr>
								<td></td>
								<td>
									<button type="submit" class="cpSubmit">确认</button>
									<button type="button" class="cpCancle">取消</button>
								</td>
							</tr>
						</table>
					</form>
				</div>
			</div>
			<!-- 右侧信息模块结束 -->
		</div>
		<!-- 公共底部模块开始 -->
		<include file="Public/footer"/>
		<!-- 公共底部模块结束 -->
		<script type="text/javascript" src="__PUBLIC__/home/js/jquery1.91.min.js"></script>
		<script type="text/javascript">
								// 小屏幕展开导航效果
			$(function() {
				$(".cmtMenuLogo").click(function() {
					$(".commonTop nav").toggle();
					$(".commonTop").toggleClass('t6');
				}
				)
			}
			)
		</script>
		<include file="Public/bottom"/>
	</body>
</html>