<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>个人中心-我的积分</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="__PUBLIC__/home/css/base.css">
		<link rel="stylesheet" href="__PUBLIC__/home/css/dropload.css">
		<link rel="stylesheet" href="__PUBLIC__/home/css/center.css">
		<link rel="Shortcut Icon" href="__PUBLIC__/home/img/dyxh.ico" >
	</head>
	<body>
		<!-- 公共头部开始 -->
		<include file="Public/header"/>
		<!-- 公共头部结束 -->
		<div class="container wrap box">
			<!-- 左边导航开始 -->
			<include file="Public/left"/>
			<!-- 左边导航结束 -->
			<!-- 右侧信息模块开始 -->
			<div class="col-lg-10">
				<div class="right">
					<p class="rightTitle visible-lg">我的积分</p>
					<p class="Jamount">当前账户积分：<span>0</span><span>分</span></p>
					<table class="Jtable">
						<tr class="t1">
							<th>时间</th>
							<th>积分变化</th>
							<th>详情</th>
						</tr>
						<tr>
							<td>2016-12-04&nbsp;&nbsp;10:52</td>
							<td class="Jjia">+1230</td>
							<td>参与活动获取积分</td>
						</tr>
						<tr>
							<td>2016-12-04&nbsp;&nbsp;10:52</td>
							<td class="Jjia">+1230</td>
							<td>参与活动获取积分</td>
						</tr>
						<tr>
							<td>2016-12-04&nbsp;&nbsp;10:52</td>
							<td class="Jjia">+1230</td>
							<td>参与活动获取积分</td>
						</tr>
						<tr>
							<td>2016-12-04&nbsp;&nbsp;10:52</td>
							<td class="Jjian">-1230</td>
							<td>参与活动获取积分</td>
						</tr>
						<tr>
							<td>2016-12-04&nbsp;&nbsp;10:52</td>
							<td class="Jjia">+1230</td>
							<td>参与活动获取积分</td>
						</tr>
						<tr>
							<td>2016-12-04&nbsp;&nbsp;10:52</td>
							<td class="Jjian">-1230</td>
							<td>参与活动获取积分</td>
						</tr>
						<tr>
							<td>2016-12-04&nbsp;&nbsp;10:52</td>
							<td class="Jjia">+1230</td>
							<td>参与活动获取积分</td>
						</tr>
						<tr>
							<td>2016-12-04&nbsp;&nbsp;10:52</td>
							<td class="Jjian">-1230</td>
							<td>参与活动获取积分</td>
						</tr>
					</table>
					<!-- 分页开始 -->
					<div class="pages clearfix visible-lg">
						<a href="#" class="home">首页</a>
						<a class="pre" href="#">上一页</a>
						<a class="pageActive" href="#">1</a>
						<a href="#">2</a>
						<a href="#">3</a>
						<a href="#">4</a>
						<a href="#">5</a>
						<a class="next" href="#">下一页</a>
						<a href="#">尾页</a>
					</div>
					<!-- 分页结束 -->
				</div>
			</div>
			<!-- 右侧信息模块结束 -->
		</div>
		<!-- 公共底部模块开始 -->
		<include file="Public/footer"/>
		<!-- 公共底部模块结束 -->
		<script type="text/javascript" src="__PUBLIC__/home/js/jquery1.91.min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/home/js/dropload.min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/home/js/jifen.js"></script>
			<script type="text/javascript">
								// 小屏幕展开导航效果
			$(function() {
				$(".cmtMenuLogo").click(function() {
					$(".commonTop nav").toggle();
					$(".commonTop").toggleClass('t6');
				}
				)
			}
			)
		</script>
	</body>
</html>