<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>个人中心-我的积分</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="__PUBLIC__/home/css/base.css">
		<link rel="stylesheet" href="__PUBLIC__/home/css/dropload.css">
		<link rel="stylesheet" href="__PUBLIC__/home/css/center.css">
		<link rel="Shortcut Icon" href="__PUBLIC__/home/img/dyxh.ico" >
	</head>
	<body>
		<!-- 公共头部开始 -->
		<include file="Public/header"/>
		<!-- 公共头部结束 -->
		<div class="container wrap box">
			<!-- 左边导航开始 -->
			<include file="Public/left"/>
			<!-- 左边导航结束 -->
			<!-- 右侧信息模块开始 -->
			<div class="col-lg-10">
				<div class="right">
					<p class="rightTitle visible-lg">我的积分</p>
					<p class="Jamount">当前账户积分：<span>{$nowIntegral}</span><span>分</span></p>
					<if condition="$rows">
						<table class="Jtable">
							<tr class="t1">
								<th>时间</th>
								<th>积分变化</th>
								<th>详情</th>
							</tr>
							<volist name="rows" id="vo">
								<tr>
									<td>{$vo.create_time|dateTime=###,6}</td>
									<if condition="$vo.integral_num gt 0">
										<td class="Jjia">{$vo.integral_num}</td>
										<else/>
										<td class="Jjian">{$vo.integral_num}</td>
									</if>
									<td>{$vo.reason}</td>
								</tr>
							</volist>
						</table>
					</if>

					<!-- 分页开始 -->
					<div class="pages clearfix visible-lg">
						{$page}
					</div>
					<!-- 分页结束 -->
				</div>
			</div>
			<!-- 右侧信息模块结束 -->
		</div>
		<!-- 公共底部模块开始 -->
		<include file="Public/footer"/>
		<!-- 公共底部模块结束 -->
		<script type="text/javascript" src="__PUBLIC__/home/js/jquery1.91.min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/home/js/dropload.min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/home/js/jifen.js"></script>
			<script type="text/javascript">
                                
            $(function() {
                // 小屏幕展开导航效果
                $(".cmtMenuLogo").click(function() {
                    $(".cmtUser").toggle();
                    $(".logoImg").toggleClass('commonPR');
                    $(".commonTop nav").toggle();
                    $(".commonTop").toggleClass('t6');
                }
                )
                // 小屏幕展开登录
                $(".cmtUser").click(function() {
                    $(".cmtMenuLogo").toggle();
                    $(".logoImg").toggleClass('commonPL');
                    $(".loginBox").toggle();
                    $(".commonTop").toggleClass('t6');
                }
                )
            }
            )
        </script>
		<include file="Public/bottom"/>
        <script type="text/javascript">
            var mcenter = document.getElementById("memberCenter"),
                alinks = mcenter.getElementsByTagName("a"),
                indexes = 0,//默认第一个菜单项
                aurl = location.href.split('?')[0].split('/');//取当前URL最后一个 / 后面的文件名，pop方法是删除最后一个元素并返回最后一个元素
            if(aurl[5]){    //如果有取到, 则进行匹配, 否则默认为首页(即index的值所指向的那个)
                aurl = aurl[5];
                for (var j=alinks.length; j--;) {    //遍历 menu 的中连接地址
                    if(alinks[j].href.indexOf(aurl) !== -1){
                        indexes = j;
                        break;
                    }
                }
            }
            alinks[indexes].className = 'leftActive';
        </script>
	</body>
</html>