<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>家庭护理详情</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="__PUBLIC__/home/css/base.css">
		<link rel="stylesheet" href="__PUBLIC__/home/css/familyDetail.css">
		<link rel="Shortcut Icon" href="__PUBLIC__/home/img/dyxh.ico" >
	</head>
	<body>
		<!-- 公共头部开始 -->
		<include file="Public/header"/>
		<!-- 公共头部结束 -->
		<div class="wrap main">
			<!-- 左侧目录模块开始 -->
			<div class="leftMenu visible-lg">
				<a href="#" class="leftMulu">目录</a>
				<a href="#" class="leftSZ">上一章</a>
				<a href="#" class="leftSJ">上一节</a>
				<a href="#" class="leftXJ">下一节</a>
				<a href="#" class="leftXZ">下一章</a>
			</div>
			<!-- 左侧目录模块结束 -->
			<!-- 文字区域开始 -->
			<h1>第一章&nbsp;&nbsp;第一节</h1>
			<div class="time">2017-03-22&nbsp;&nbsp;12:00</div>
			<h2 class="title">基本清洁</h2>
			<p>完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤</p>
			<p>完美的肌肤完美的<br>肌肤完美的肌肤完美<br>的肌肤完美的肌肤完美的肌肤完<br>美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完<br>美的肌肤完美的肌肤完美的肌肤完美</p>
			<p>完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤</p>
			<p>完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤</p>
			<p>完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤</p>
			<p>完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤完美的肌肤</p>
			<!-- 文字区域结束 -->
			<!-- 底部上一章控制区域开始 -->
			<div class="bottomMenu">
				<a href="#">上一章</a>
				<a href="#">上一节</a>
				<a href="#" class="mulu">目录</a>
				<a href="#">下一节</a>
				<a href="#">下一章</a>
			</div>
			<!-- 底部上一章控制区域结束 -->
			<div></div>
		</div>
		<!-- 公共底部模块开始 -->
		<include file="Public/footer"/>
		<!-- 公共底部模块结束 -->
		<script type="text/javascript" src="__PUBLIC__/home/js/jquery1.91.min.js"></script>
		<script type="text/javascript">
								// 小屏幕展开导航效果
			$(function() {
				$(".cmtMenuLogo").click(function() {
					$(".commonTop nav").toggle();
					$(".commonTop").toggleClass('t6');
				}
				)
			}
			)
		</script>
		<include file="Public/bottom"/>
	</body>
</html>