/*
* @Author: Administrator
* @Date:   2017-04-04 13:41:02
* @Last Modified by:   Administrator
* @Last Modified time: 2017-04-18 12:33:01
*/
body{
	background: #fff;
}
/* 活动分类 */
.activeStyle{
	display: none;
	position: absolute;
	top: 89px;
	left: 0;
	width: 100%;
	z-index: 999;
	border-top: 1px solid #eee;
}
.activeStyle a{
	color: #333333;
}
.activeStyleL{
	font-size: 14px;
	line-height: 35px;
	color: #999999;
	background: #F5F5F5;
	padding-left: 10px;
	color: #2D9E12;
}
.activeStyleR{
	font-size: 14px;
	padding: 10px;
	background: #F5F5F5;
}
.activeStyleR a{
	display: inline-block;
	margin-right: 15px;
	border: 1px solid #e0e0e0;
	text-align: center;
	padding: 2px 4px;
	border-radius: 2px;
	margin-bottom: 10px;
}
.activeStyleActive{
	color: #FB890A!important;
}

/* 搜索开始 */
.searchBox{
		margin-bottom: -20px;
		background: #F7F7F7;
		padding: 10px;
	}
	.input{
	width: 87%;
	  height: 30px;
	float: left;
	font-size: 16px;
	padding-left: 5px;
	outline: none;
	border-radius: 5px;
	border: 1px solid #e0e0e0;
	background: #E3E3E5;
}
.submit{
	width: 13%;
	height: 30px;
	line-height: 30px;
	outline: none;
	border: none;
	color: #fff;
	text-align: center;
	cursor: pointer;
	float: left;
	font-size: 16px;
	background: #F7F7F7;
	color: #2D9E12;
}
@media (min-width: 1200px) {
	.activeStyle{
		display: block;
		position: static;
		width: 1200px;
	margin-top: 20px;
	margin-bottom: 30px;
	border-top: none;
}
	.activeStyleL{
	font-size: 14px;
	line-height: 35px;
	color: #999999;
	background: none;
	padding-left: 0;
}
	.activeStyleR{
	font-size: 14px;
	background: none;
	padding: 0;

}
.activeStyleR a{
	display: inline-block;
	margin-right: 34px;
	border: none;
	padding: 0;
}
.activeStyleActive{
	color: #FB890A!important;
}
.activeStyleR p{
	border-bottom: 1px dashed #DEDEDE;
	line-height: 35px;
}
.searchBox{
	margin-top: 0;
		margin-bottom: 0;
		background: none;
		padding: 0;
	}
	.input{
	border: 2px solid #2D9E12;
	background: none;
	border-radius: 0;
	height: 40px;
}
.submit{
	width: 13%;
	height: 40px;
	line-height: 40px;
	background-color: #2D9E12;
	outline: none;
	border: none;
	color: #fff;
	text-align: center;
	cursor: pointer;
	float: left;
	font-size: 16px;
}
}
.searchBoxL{
	font-size: 14px;
	color: #999999;
	height: 40px;
	line-height: 40px;
}


/* 左边活动列表开始 */
.activeBox{
	margin-top: 20px;
}
@media (min-width: 1200px) {
	.activeBox{
	margin-top: 40px;
}
}
.activeListBox a{
	color: #919191;
}
.activeListBox h1{
	font-size: 14px;
	color: #282828;
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;/*多余的文字省略号展示*/
}
.activeList{
	position: relative;
	background-color: #fff;
	padding: 10px;
	padding-top: 0;
	margin-bottom: 15px;
	border-bottom: 1px dashed #e0e0e0;
}
.activeList img{
	float: left;
	width: 100%;
	height: 100px;
}
.activeList p{
	font-size: 14px;
}
.activeListR .number{
	display: block;
}
.activeListR{
		padding-left: 20px;
	}
@media (min-width: 1200px) {
	.activeListBox h1{
	font-size: 18px;
}
	.activeListR .number{
		margin-left: 30px;
		display: inline;
	}
	.activeList p{
		font-size: 16px;
		margin-top: 8px;
	}
	.activeList img{
	float: left;
	width: 100%;
	height: 135px;
}
	.activeList{
		padding-left: 0;
	}
}
.activeState{
	text-align: center;
	color: #fff;
	float: right;
	background: #CCCCCC;
	min-width: 75px;
	height: 30px;
	line-height: 30px;
	border-radius: 3px;
}
@media (min-width: 1200px) {
	.activeState{
		right: 50px;
		top: -16px;
	}
}
.stateBg1{
	background: #2D9E12;
}
.stateBg2{
	background: #FB890A;
}
/* 分页 */
.pages{
	margin-top: 40px;
	margin-bottom: 40px;
}
.pages a{
	display: inline-block;
	color: #979797;
	text-align: center;
	float: left;
	margin-left: 12px;
	margin-bottom: 10px;
	border: 1px solid #e0e0e0;
	padding:8px 15px;
}
.home{
	margin-left: 0!important;
}

.pageActive{
	background-color: #2D9E12!important;
	color: #fff!important;
}
/* 热门活动回顾 */
.history{
	padding-left: 20px;
}
.history h2{
	color: #333333;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 30px;
	border-bottom: 2px solid #E0E0E0;
	padding-bottom: 10px;
}
.historyList li{
	position: relative;
	padding: 10px;
	background-color: #fff;
	width: 100%;
	height: 185px;
	margin-bottom: 15px;
	padding-left: 0;
}
.historyList li img{
	width: 100%;
	height: 100%;
}
@media (min-width: 1200px) {
.historyList li{
	padding: 0;
}
	
}
.mengceng{
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #000;
	opacity: 0.5;
	height: 45px;
}
.historyTitle{
	color: #fff;
	font-size: 16px;
	position: absolute;
	bottom:0;
	width: 100%;
	padding-left: 20px;
	height: 45px;
	line-height: 45px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;/*多余的文字省略号展示*/
}

/* 科普中心独立样式 */
.activeList .author{
	color: #fff;
	background-color: #FB890A;
	margin-left: 20px;
	padding: 2px 8px;
	border-radius: 3px;
	float: right;
}
.figcaption {
  height: 4.2em!important;
}

.figcaption p {
  line-height: 1.4em!important;
}
.titleLogo {
  margin-top: 80px;
  margin-bottom: 40px;
  border-top: 1px solid #CCCCCC;
}

.titleLogoL {
  text-align: right;
  font-size: 75px;
  vertical-align: top;
  line-height: 1;
  padding-right: 5px;
  color: #F55351;
  margin-top: -40px;
  background: #fff;
  width: 110px;
}

.titleLogoR {
  margin-top: -40px;
  padding-top: 10px;
  font-size: 32px;
  vertical-align: top;
  line-height: 1;
  background: #fff;
  width: 190px;
}

.titleLogoR p:first-child {
  color: #2A2A2A;
  font-weight: bold;
}

.titleLogoR p:last-child {
  color: #666;
}
@media (min-width: 1200px) {
	.figcaption {
  height: 5.6em!important;
}

.figcaption p {
  line-height: 1.4em!important;
}
}