/*
* @Author: Administrator
* @Date:   2017-04-06 10:35:04
* @Last Modified by:   Administrator
* @Last Modified time: 2017-04-14 22:00:33
*/
body{
  background: #fff;
}
.commonBottom{
  margin-top: 50px;
}
/* 轮播图 */
.swiper1 {
  width: 100%;
  height: auto;
  top: -1px;
  margin-bottom: 10px;
}
/* 板块风采轮播 */
.swiper2 {
  width: 100%;
  height: 170px;
}
.swiper2 img{
  width: 100%;
  height: 100%;
}
.swiper2 a{
  display: block;
  height: 100%;
  /* padding: 15px; */
}
.plateStyleListBox{
  background: #fff;
}
.plateStyleList{
  padding:24px 12px;
  height: 100%;
}
.swiper-wrapper img {
  width: 100%;
  height: 100%;
}
.pre2{
  width: auto!important;
  height: auto!important;
  position: absolute;
  top: 50%;
  margin-top: -40px;
  left: -60px;
  z-index: 999;
  cursor: pointer;
}
.next2{
  width: auto!important;
  height: auto!important;
  position: absolute;
  top: 50%;
  margin-top: -40px;
  right: -60px;
  cursor: pointer;
}
.box3{
  position: relative;
  padding-left: 8px;
  padding-right:8px;
}
@media (min-width: 1200px) {
  .box3{
  padding-left: 0;
  padding-right:0;
}
}
.swiper-pagination {
  position: absolute;
  z-index: 20;
  text-align: center;
  bottom:0;
  height: 30px;
  padding-top: 6px;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 15px;
}

.swiper-pagination-bullet {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #A1C299;
  margin: 0 5px;
  opacity: 0.8;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background: #FB890A;
}
.bankuai{
  padding-bottom: 20px;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}
@media (min-width:1200px) {
  .swiper1 {
    height: 460px;
    margin-bottom: 0;
  }
  .bankuai{
 border: none;
}
.swiper2 {
  height: 250px;
}
  .swiper-pagination {
    width: auto!important;
    background: #418431;
    left: 50%!important;
    margin-left: -60px;
    bottom: 30px!important;
    height: 30px;
    padding-top: 6px;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 15px;
  }

  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    border-radius: 15px
  }

  .swiper-pagination-bullet-active {
    width: 35px;
    background: #BAD1B4;
  }

}

/* science最新科普开始 */
.min-title {
  padding-left: 8px;
  color: #333;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.titleLogo {
  margin-top: 80px;
  margin-bottom: 40px;
  border-top: 1px solid #CCCCCC;
}

.titleLogoL {
  text-align: right;
  font-size: 75px;
  vertical-align: top;
  line-height: 1;
  padding-right: 5px;
  color: #F55351;
  margin-top: -40px;
  background: #fff;
  width: 110px;
}

.titleLogoR {
  margin-top: -40px;
  padding-top: 10px;
  font-size: 32px;
  vertical-align: top;
  line-height: 1;
  background: #fff;
  width: 190px;
}

.titleLogoR p:first-child {
  color: #2A2A2A;
  font-weight: bold;
}

.titleLogoR p:last-child {
  color: #666;
}
.article1 {
  margin-bottom: 15px;
  padding: 0 8px;
}
.article1 img {
  width: 100%;
  height: auto;
}
@media (min-width:1200px) {
  .article1List {
   width: 1214px;
  }
  .article1 {
    padding-left: 0;
  padding-right: 14px;
  margin-bottom: 15px;
}
.article1 img {
  width: 100%;
  height: 170px;
}

}



.article1 a {
  display: block;
  background: #FAFAFA;
}



.article1 p {
  color: #B7B8B8;
  line-height: 1.4;
}

.article1 h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;/*多余的文字省略号展示*/
  color: #113F6A;
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}
@media (min-width: 1200px) {
  .article1 h3 {
    padding-bottom: 0;
    padding-left: 0;
    font-size: 16px;
    margin-bottom: 10px;
}
.article1 a{
  padding: 15px;
}
}
.figcaption {
  height: 4.5em;
}

.figcaption p {
  line-height: 1.5em;
}
.more{
  color: #FB890A;
  text-align: right;
  float: right;
  display: inline-block;
  padding-right: 16px;
  margin-bottom: 10px;
}
/* 最近活动 */
.newActivity{
  background: #fff;
  padding-bottom: 24px;
}
.newActivity1{
  padding: 24px 8px;
  position: relative;
  padding-bottom: 0;
}
.newActivityP{
  padding-left: 10px;
  position: absolute;
  bottom: 50px;
  left: 8px;
  right: 8px;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;/*多余的文字省略号展示*/
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
.newActivity1 h3{
  position: absolute;
  bottom: 50px;
  left: 8px;
  right: 8px;
  height: 50px;
  background: #000;
  opacity: 0.5;
}
.newActivity1 a img{
  width: 100%;
  height: auto;
}
@media (min-width: 1200px) {
  .newActivity1 h3{
  left: 13px;
  right: 13px;
  bottom: 74px;
}
.newActivity1 a img{
  width: 100%;
  height: 250px;
}
  .newActivityP{
  left: 13px;
  right: 13px;
  bottom: 74px;
}
  .newActivity1{
    padding: 24px 12px;
  }
  .wnewActivity{
    width: 1224px;
  }
}
.newActivity1 a{
  display: block;
  border: 1px solid #E0E0E0;
}




.activeMessage{
  color: #8E8B8B;
  line-height: 50px;
  font-size: 16px;
  padding-left: 8px;
}
.joinActive{
  background: #00CD99;
  color: #fff;
  font-size: 16px;
  display: inline-block;
  float: right;
  line-height: 1.6;
  padding-left: 4px;
  padding-right: 4px;
  margin-top: 12px;
  margin-right: 8px;
}