body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:55px;
  top:110px;
  width:905px;
  height:1510px;
  opacity:0.1;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:905px;
  height:1510px;
}
#u1 {
  position:absolute;
  left:2px;
  top:747px;
  width:901px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:974px;
  top:591px;
  width:396px;
  height:939px;
  opacity:0.1;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:939px;
}
#u3 {
  position:absolute;
  left:2px;
  top:462px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:1370px;
  height:100px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1370px;
  height:100px;
}
#u5 {
  position:absolute;
  left:2px;
  top:42px;
  width:1366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:20px;
  top:15px;
  width:140px;
  height:70px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:70px;
}
#u7 {
  position:absolute;
  left:2px;
  top:27px;
  width:136px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:380px;
  top:50px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#666666;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:511px;
  top:50px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#666666;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:670px;
  top:50px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:832px;
  top:50px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:1000px;
  top:50px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:1158px;
  top:50px;
  width:70px;
  height:28px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:28px;
}
#u19 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1258px;
  top:50px;
  width:70px;
  height:28px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:28px;
}
#u21 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:-10px;
  top:1650px;
  width:1370px;
  height:140px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1370px;
  height:140px;
}
#u23 {
  position:absolute;
  left:2px;
  top:62px;
  width:1366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:-10px;
  top:1750px;
  width:1370px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:1353px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1370px;
  height:1px;
}
#u25 {
  position:absolute;
  left:396px;
  top:1766px;
  width:648px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:648px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:648px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:10px;
  top:1678px;
  width:91px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:144px;
  top:1678px;
  width:63px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:246px;
  top:1678px;
  width:63px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:350px;
  top:1678px;
  width:63px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:450px;
  top:1678px;
  width:63px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:570px;
  top:1678px;
  width:63px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:694px;
  top:1678px;
  width:63px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:808px;
  top:1678px;
  width:63px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:910px;
  top:1678px;
  width:63px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:1004px;
  top:1678px;
  width:63px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:1110px;
  top:1678px;
  width:63px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:1216px;
  top:1678px;
  width:63px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:144px;
  top:1714px;
  width:63px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:246px;
  top:1714px;
  width:63px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:350px;
  top:1714px;
  width:63px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:450px;
  top:1714px;
  width:63px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:570px;
  top:1714px;
  width:63px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:694px;
  top:1714px;
  width:63px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:808px;
  top:1714px;
  width:63px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:910px;
  top:1714px;
  width:63px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:1004px;
  top:1714px;
  width:63px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:1110px;
  top:1714px;
  width:63px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:1216px;
  top:1714px;
  width:63px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:90px;
  top:125px;
  width:130px;
  height:19px;
  font-size:16px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:19px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:290px;
  top:121px;
  width:29px;
  height:25px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:25px;
}
#u76 {
  position:absolute;
  left:2px;
  top:4px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:329px;
  top:125px;
  width:200px;
  height:19px;
  font-size:16px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:19px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:246px;
  top:176px;
  width:300px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:90px;
  top:221px;
  width:750px;
  height:1319px;
  font-size:16px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1319px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:90px;
  top:1350px;
  width:120px;
  height:120px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u84 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:969px;
  top:111px;
  width:396px;
  height:459px;
  opacity:0.1;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:459px;
}
#u86 {
  position:absolute;
  left:2px;
  top:222px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:988px;
  top:125px;
  width:362px;
  height:435px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:435px;
}
#u88 {
  position:absolute;
  left:2px;
  top:210px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:1000px;
  top:608px;
  width:133px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#666666;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:1000px;
  top:644px;
  width:340px;
  height:146px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:146px;
}
#u92 {
  position:absolute;
  left:2px;
  top:65px;
  width:336px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:1000px;
  top:741px;
  width:340px;
  height:49px;
  opacity:0.5;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:49px;
}
#u94 {
  position:absolute;
  left:2px;
  top:6px;
  width:336px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:1000px;
  top:808px;
  width:340px;
  height:146px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:146px;
}
#u96 {
  position:absolute;
  left:2px;
  top:65px;
  width:336px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:1000px;
  top:904px;
  width:340px;
  height:49px;
  opacity:0.5;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:49px;
}
#u98 {
  position:absolute;
  left:2px;
  top:6px;
  width:336px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:1000px;
  top:984px;
  width:340px;
  height:146px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:146px;
}
#u100 {
  position:absolute;
  left:2px;
  top:65px;
  width:336px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:1000px;
  top:1080px;
  width:340px;
  height:49px;
  opacity:0.5;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:49px;
}
#u102 {
  position:absolute;
  left:2px;
  top:6px;
  width:336px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:1000px;
  top:1160px;
  width:340px;
  height:146px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:146px;
}
#u104 {
  position:absolute;
  left:2px;
  top:65px;
  width:336px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:1000px;
  top:1256px;
  width:340px;
  height:49px;
  opacity:0.5;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:49px;
}
#u106 {
  position:absolute;
  left:2px;
  top:6px;
  width:336px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:1000px;
  top:1337px;
  width:340px;
  height:146px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:146px;
}
#u108 {
  position:absolute;
  left:2px;
  top:65px;
  width:336px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:1000px;
  top:1433px;
  width:340px;
  height:49px;
  opacity:0.5;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:49px;
}
#u110 {
  position:absolute;
  left:2px;
  top:6px;
  width:336px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:1049px;
  top:424px;
  width:111px;
  height:36px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u112 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:996px;
  top:370px;
  width:160px;
  height:36px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:36px;
}
#u114 {
  position:absolute;
  left:2px;
  top:10px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:1192px;
  top:424px;
  width:111px;
  height:36px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u116 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
